# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Prettier does terrible things to this file for some reason (probably the script and style outside the html)
src/layouts/Layout.astro