---
import Logo from "/components/icons/Codrops.vue"
import External from "/components/icons/External.vue"
import { type CodropsEntry } from '/schemas/work'
import { Image } from 'astro:assets'
import headshot from '/assets/headshot.jpeg'

type Props = {
    entry: CodropsEntry
}

const { entry: { data } } = Astro.props
---

<a class="group p-7 h-full rounded-xl text-white border-b-10 border-[#334BF7] flex flex-col gap-5 bg-[#0D1028] hover:bg-[#0A103E] transition hover:scale-[1.02] hover:shadow-2xl dark:hover:shadow-none" href={data.url}>
    <span class="flex gap-3 justify-start items-center">
        <Logo class="h-6" />
        <span class="overflow-hidden relative top-[.0625rem]">
            <External class="h-[0.7rem] -translate-x-full translate-y-[110%] group-hover:translate-y-0 group-hover:translate-x-0 transition-transform" />
        </span>
    </span>
    <span class="text-2xl/snug font-medium line-clamp-2">{data.title}</span>
    <span class="flex items-center gap-3.5 mt-auto">
        <Image src={headshot} height="100" class="size-9 rounded-full object-cover" alt="Headshot of Maxwell Barvian" />
        <span class="flex-1 opacity-80">
            <span class="font-light">by</span>
            <span>Maxwell Barvian</span>
        </span>
    </span>
</a>