---
import { type ProjectEntry } from '/schemas/work'
import ProjectVideo from '/components/ProjectVideo.astro'

type Props = {
	entry: ProjectEntry
}

const { entry } = Astro.props
const { data, slug } = entry
---

<a
	href={`/${slug}`}
	aria-label={entry.data.title}
	data-project
	class:list={[
		'group/card group relative outline-none',
		(data.usesLightBg || data.usesDarkBg) &&
			'after:pointer-events-none after:absolute after:inset-0 after:size-full',
		data.usesLightBg && 'after:bg-to-dark',
		data.usesDarkBg && 'dark:after:bg-to-light'
	]}
>
	<div
		class="absolute top-0 w-full group-data-[project=active]:[view-transition-name:project-header]"
		role="none"
	>
	</div>
	<div
		class="absolute bottom-0 w-full group-data-[project=active]:[view-transition-name:project-content]"
		role="none"
	>
	</div>
	<ProjectVideo {entry} />
</a>
