---
import { type ProjectEntry } from '/schemas/work'
import ProjectVideo from '/components/ProjectVideo.astro'

type Props = {
	entry: ProjectEntry
}

const { entry } = Astro.props
const { slug } = entry
---

<a
	href={`/${slug}`}
	aria-label={entry.data.title}
	data-project
	class="group/card group relative block outline-none @container"
>
	<div
		class="absolute top-0 w-full group-data-[project=active]:[view-transition-name:project-header]"
		role="none"
	>
	</div>
	<div
		class="absolute bottom-0 w-full group-data-[project=active]:[view-transition-name:project-content]"
		role="none"
	>
	</div>
	<ProjectVideo {entry} />
</a>
