---
import Layout from '@/layouts/Layout.astro'
import Work from '@/components/Work.astro'
import Header from '@/components/Header.vue'

export const prerender = false
---

<Layout bodyClass="pb-10vh">
	<Header client:load />
	<main>
		<ol class="container grid gap-10 md:grid-cols-2 xl:grid-cols-3">
			<li><Work slug="rithm" /></li>
			<li><Work slug="das-grune" /></li>
			<li><Work slug="fluid-type" /></li>
			<li><Work slug="humblecast" /></li>
			<li><Work slug="css-carousels" /></li>
			<li><Work slug="jamstack-101" /></li>
			<li><Work slug="carousel-1" /></li>
			<li><Work slug="carousel-2" /></li>
			<li><Work slug="carousel-3" /></li>
			<li><Work slug="foodcard" /></li>
			{/*<li><Work slug="fluid-tailwind" /></li>*/}
			<li><Work slug="tip-jar" /></li>
		</ol>
	</main>
</Layout>
