---
import AstroTweet from 'astro-tweet'
import type { ComponentProps } from 'astro/types'
export type Props = ComponentProps<typeof AstroTweet>
---

<div class="not-prose Tweet">
	<AstroTweet {...Astro.props} />
</div>

<style is:global>
	.Tweet ._root_1ec15_1 {
		white-space: unset;
	}

	.Tweet p {
		white-space: unset !important;
	}
</style>
