---
import AstroTweet from 'astro-tweet'
import type { ComponentProps } from 'astro/types'
export type Props = ComponentProps<typeof AstroTweet>
---

<div class="not-prose tweet">
	<AstroTweet id="1802788443342373029" />
</div>
