---
import '/assets/main.css'
import { ViewTransitions } from 'astro:transitions'

type Props = {
	title?: string
	bodyClass?: string
}

const {
	title = "Maxwell Barvian, Front-end Developer",
	bodyClass
} = Astro.props
---

<!doctype html>
<html lang="en" class="bg-white text-black dark:bg-black dark:text-white antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback="none" />
	</head>
	<body class={bodyClass}>	
		<slot />
	</body>
</html>

<script>
  // Handle home -> project page transition
  import { isTransitionBeforePreparationEvent } from "astro:transitions/client"

  document.addEventListener('astro:before-preparation', (event) => {
      if (!isTransitionBeforePreparationEvent(event)) return
      
      document.addEventListener('astro:after-preparation', () => {
          const [doc, slug] = event.to.pathname === '/' ? [event.newDocument, event.from.pathname] : [document, event.to.pathname]
          const project = doc.querySelector<HTMLAnchorElement>(`a[data-project][href="${slug}"]`)
          if (!project) return
          
          project.dataset.project = 'active'
          document.addEventListener('astro:page-load', () => {
              project.dataset.project = ''
          }, { once: true })
      }, { once: true });
  })
</script>