---
import Layout from '/layouts/Layout.astro'
import Work from '/components/Work/index.astro'
import PauseButton from '/components/PauseButton.vue'
import Header from '/components/Header.vue'
---

<Layout bodyClass="pb-12vh">
    <Header client:load />
    <main>
        <ol class="grid md:grid-cols-2 xl:grid-cols-3 container gap-10">
            <li><Work slug="rithm" /></li>
            <li><Work slug="fluid-type" /></li>
            <li><Work slug="css-carousels" /></li>
            <li><Work slug="das-grune" /></li>
            <li><Work slug="humblecast" /></li>
        </ol>
    </main>
    <div class="fixed bottom-6 right-6">
        <PauseButton client:only="vue" />
    </div>
</Layout>