---
import Layout from '/layouts/Layout.astro'
import Work from '/components/Work/index.astro'
import PauseButton from '/components/PauseButton.vue'
---

<Layout bodyClass="pb-12vh">
    <header class="container py-10vh">
        <h1 class="text-lg/snug w-fit relative">
            <div role="none" class="top-0 right-full size-3 absolute invisible mr-2" style="view-transition-name: back" />
            <span style="view-transition-name: name">Maxwell Barvian</span><br/>
            <span style="view-transition-name: title;">Front-end Developer</span>
        </h1>
    </header>
    <main>
        <ol class="grid md:grid-cols-2 xl:grid-cols-3 container gap-10">
            <li><Work slug="rithm" /></li>
            <li><Work slug="fluid-type" /></li>
            <li><Work slug="css-carousels" /></li>
            <li><Work slug="das-grune" /></li>
            <li><Work slug="humblecast" /></li>
        </ol>
    </main>
    <div class="fixed bottom-6 right-6">
        <PauseButton client:only="vue" />
    </div>
</Layout>