---
import Layout from '/layouts/Layout.astro'
import Work from '/components/Work/index.astro'
import PauseButton from '/components/PauseButton.vue'
---

<Layout>
    <header class="container py-10">
        <h1 class="text-lg/snug"><span transition:name="name">Maxwell Barvian</span>,<br/> Front-end Developer</h1>
    </header>
    <main class="mt-[5vh]">
        <ol class="grid lg:grid-cols-2 xl:grid-cols-3 container gap-10 *:aspect-golden *:rounded-xl *:overflow-hidden has-[:focus-visible]:*:outline *:transition hover:*:shadow-2xl dark:hover:*:shadow-none only:*:*:h-full">
            <li><Work slug="fluid-type" /></li>
            <li><Work slug="css-carousels" /></li>
            <li><Work slug="das-grune" /></li>
        </ol>
    </main>
    <div class="fixed bottom-6 right-6">
        <PauseButton client:only="vue" />
    </div>
</Layout>